# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\OneDrive\College OneDrive\OneDrive - Institute of Technology Tralee\2nd Year\1st Semester\Java Mini Project\SubnetCalculator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
